/*the whole site*/

:root {
  --color-primary: #4f46e5; 
  --color-secondary: #06b6d4;
  --color-bg: #4d94a0; 
  --color-text: #111827;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/*button {
  background-color: var(--color-primary);
}*/

h1::after {
  content: "";
  display: block;
  height: 0px;
  background: black;
}

p {
  padding: 10px 350px;
}

p:hover {
  background: red;
}

p::before,
p::after {
  content: "🔥";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


* {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}


